<div class="home-container">
  <div class="navbar">
    <div class="navbar-content">
      <div class="navbar-left">
        <h2>Welcome, {{ currentUser?.name }}</h2>

        <nav mat-tab-nav-bar [tabPanel]="tabPanel">
          @for (link of navLinks; track link.path) {
            <a
              mat-tab-link
              [routerLink]="link.path"
              routerLinkActive
              #rla="routerLinkActive"
              [active]="rla.isActive"
            >
              {{ link.label }}
            </a>
          }
        </nav>
      </div>
      <button (click)="logout()" class="logout-btn">Logout</button>
    </div>
  </div>

  <mat-tab-nav-panel #tabPanel>
    <router-outlet></router-outlet>
  </mat-tab-nav-panel>

  <hello-world name="Mohita"></hello-world>
</div>
